body{
    position: relative;
    width: 1363px;
    height: 910px;
    background-color: #DF6F8B;

    background: linear-gradient(180deg, #FFFFFF 0%, #FCD9E2 75%, #DF6F8B 97.4%);
}

div#midtermpage{
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 2em;
    /*background-color: #fff;*/
}

header{
    padding: 3em;
    background: linear-gradient(89.05deg, #E3567A -0.08%, #070002 40%, rgba(0, 0, 0, 0) 71.76%),
        url("images/satc_banner\ 1.png") no-repeat top right/contain, #000;
}
div.col{
    width:50%;
}

header p{
    margin-left:4em;
    width:30%;
    color: #fff;
}

.button {
    display:block;
    width:4em;
    border: solid 1px #fff;
    border-radius:5px;
    padding:10px;
    color:#fff;
    text-decoration: none;
    text-align: right;
}
.button hover{
    background-color: #681919;
    border: solid 1px blue;
}

.play {
    padding-left:13px;
    background:url("images/Play arrow.svg") no-repeat;
    background-position-x: -2px;
    background-position-y: center;
    background-size: 100px;
    margin-left: 150px;

}
/*nav bar*/
nav li {
    display:inline-block;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}
nav li:hover {
    background-color: aqua;

}
a{ /* og color pink*/
    color:pink;
}

nav{
    background-color: #681919;
    padding-left: 3em;
    margin-bottom: 2em;
}

nav a{
    color:#E3567A;
    text-decoration: none;
}
/* homepage layout*/
.main{
    padding: 0 3em; /* first value for top and bottom is 0 left and right is 3em*/
}
.col{
    float:left;
    margin-right: 2em;
    width:50%;
}
.col:last-child{
   margin-right: 0; 
}

.footer{
    clear:both;
}

/*
- google fonts
fix floats */